<footer class="mt-5">
  <div class="text-center py-3">

    <!-- 页面底部文字 span p标签是显示的内容 i标签显示❤ -->
    
    <div>

      <a href="https://hexo.io" target="_blank" rel="nofollow noopener">
        <span></span>
        <p>永远不要局限自己</p>
      </a>

      <i class="iconfont icon-love"></i>

      <a href="https://github.com/fluid-dev/hexo-theme-fluid" target="_blank" rel="nofollow noopener">
        <span></span>
        
      </a>

    </div>

    <%- partial('_partial/statistics.ejs') %>
    <%- partial('_partial/beian.ejs') %>
    <% if(theme.web_analytics.cnzz) { %>
      <!-- cnzz Analytics Icon -->
      <span id="cnzz_stat_icon_<%- theme.web_analytics.cnzz %>" style="display: none"></span>
    <% } %>
  </div>

</footer>

<!-- SCRIPTS -->
<%- partial('_partial/scripts.ejs') %>
